[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
beautifulsoup4 = "*"
jinja2 = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
